<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
	img.profile-photo {
		border-radius: 50%;
		width: 27px;
		height: 27px;
	}
</style>
<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'index' %}">Inventory Manager</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'profile' %}">
							<img src="{{ user.userprofile.profile_photo.url }}" alt="Profile Photo" class="profile-photo">
							{{ user.username }}
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Sign In</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{% url 'register' %}">Sign Up</a>
					</li>
				{% endif %}

				<div id="attendanceModal" class="modal">
					<div class="modal-content">
					  <span class="close">&times;</span>
					  <h2>Mark Attendance</h2>
					  <button id="checkInBtn">Check In</button>
					  <button id="checkOutBtn">Check Out</button>
					</div>
				  </div>

			</ul>
		</div>
	</div>
</nav>

